/*-------------Reset-------------*/
button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}


section {
    height: 100vh;
}

#home {
    background-color: #ddd;
}

#about {
    background-color: #aaa;
}

#work {
    background-color: #888;
}

#contact {
    background-color: #bbbaba;
}

/*-------------Helpers-------------*/
.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
}
#nav.nav-visible {
    height: 100%;
    overflow: auto;
}

.nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.nav-link,
.logo {
    padding: 0 1em;
}

span.gradient {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #4040a1, #36486b);
    background: linear-gradient(45deg, #4040a1, #36486b);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
}
span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #618685;
}

a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-nav {
    color: #c4b2bb;
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 800px) {
    #nav-wrapper {
        overflow: hidden;
    }

    #nav {
        overflow: hidden;
        flex-direction: row;
    }

    .nav-link {
        border-top: none;
    }

    .right {
        overflow: hidden;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 1.5em;
        height: auto;
    }

    .btn-nav {
        display: none;
    }

    .nav a:link.active, a:visited.active, a:active.active {
        background: #f857a8;
        background: -webkit-linear-gradient(45deg, #4040a1, #36486b);
        background: linear-gradient(45deg, #4040a1, #36486b);
        color: #fff;
    }

    .nav-link-span {
        transform: skew(20deg);
        display: inline-block;
    }

    .nav-link {
        transform: skew(-20deg);
        color: #777;
        text-decoration: none;
    }
    .nav-link:last-child {
        padding-right: 3em;
    }

    a:hover.nav-link:not(.active) {
        color: #444;
        background: #ddd;
        background: linear-gradient(45deg, #fff, #ddd);
    }
}
@keyframes logo-hover {
    20% {
        padding-right: 0em;
    }
    100% {
        padding-right: 5em;
    }
}

footer {
    display: block;
    text-align: center;
}





body.login {
    align-items: center;
    background-color: #262865;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form-login {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 450px;
    padding: 20px;
    width: 500px;
}

.title {
    color: #fffcfc;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}


.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 95px;
}



.cut-short {
    width: 50px;
}


.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}




.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
// outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}



.error-message {
    color: red;

    font-size: 20px;

}

.okedit{
    color: green;
    font-size: 20px;
}


.resetB {
    text-align: center;
    margin-top: 10px;
}

.resetB a {
    color: #999;
    font-size: 17px;
    text-decoration: none;
}

.resetB a:hover {
    text-decoration: underline;
    color: #333;
}


#home {
    background-color: #686464;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


section {
    padding: 80px 0;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.description {
    font-size: 3rem;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}





.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1C2331;

}

.about-text {
    margin-top: 30px;
    font-size: 1.25rem;
    color: #000000;
    text-align: justify;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 220px auto;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:15px;

}

.about-text {
    flex: 1;
    padding: 0 20px;
}

.about-image {
    flex: 1;
    max-width: 300px;
}

.about-image img {
    display: block;
    width: 150%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.about-text h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 22px;
    line-height: 1.5;
}
#work {
    background-color: #9f9d9d;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:15px;



}

.work-text {
    width: 50%;
    text-align: center;

}

.work-text h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.work-text p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 40px;
}


.work-image {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.work-image img {
    max-width: 75%;
    border-radius: 10px;

}



.success-message {
    color: green;
    text-align: center;
}

.form-register {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 700px;
    padding: 20px;
    width: 500px;
}

.custom-select {
    position: relative;
    font-family: Arial;
    margin: 0 auto;
    width: 200px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #d40d3e;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";

    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;

}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #3e0312;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


.custom-select .fil {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-link {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: #006B87;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.okreset{
    color: green;
    text-align: center;
}


#about ul {
    list-style-type: disc;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

#about li {
    font-size: 25px;
    margin-bottom: 10px;
}

.email-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;

}

.denikjmeno-nadpis{
text-align: center;

}

.dname-containet{
    width: 1000px;
    height:250px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    justify-content: center;
}


.dname-body{
    background-color: #756a6a;
    border-radius:12px;
}

.show-mes-body{
    background-color: #7c7575;
    font-family:monospace;
    margin-top: 200px;
}

.edit-body{
    background-color: #7c7575;
    font-family:monospace;
    margin-top: 100px;
}

.mes-container{
    margin: 0 auto;
    width: 910px;
    height: 650px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #15172b;
    border-radius: 30px;
}



.message-textarea{
    width: 845px;
    height: 390px;
    font-size:22px;
    border-radius:12px;

}

h1.mes-popis{
    color: white;
    text-align: center;
    font-size: 45px;
}

input.popisek{
    text-align:center;
    margin: 0 auto;
    display:block;
    width: 35%;
    font-size:27px;
    margin-bottom: 25px;
    border-radius:5px;

}

input.mes-add {
    width: 50%;
    background-color: #4CAF50;
    color: #fdfdfd;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 20px;

}

input.mes-add:hover {
    background-color: #45a049;
}

.error{
    color:red;
    font-size:20px
}


.ban-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.ban-table th, .ban-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ban-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.ban-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ban-table tr:hover {
    background-color: #ddd;
}

.ban-form {
    margin-top: 20px;
}

.ban-form select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.ban-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.showp{
    color: white;
}

.okedit{
    color: green;
    font-size: 20px;
}

.count{
    color:white;
}